* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body,
.contentBody,
.container,
.buttonContainer,
.inputContainer,
.rightOperatorContainer,
.topFuncContainer,
.numContainer  {
display: flex;
}

.numContainer,
.inputContainer,
.rightOperatorContainer,
.topFuncContainer {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px 50px;
  background-color: slategrey;
}

.topFuncContainer {
  justify-content: flex-end;
}

.clear {
  margin-right: 25px;
}

body {
  flex-direction: column;
  justify-content: space-between;
  max-width: 100dvw;
  max-height: 100dvh;
}

.header,
.footer {
height: 100px;
background-color: slategrey;
}

.contentBody {
  height: 100dvh;
  background-color: seashell;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  flex-direction: column;
  flex: 1 1 auto;
  height: 825px;
  max-width: 635px;
  background-color: slategrey;
  border: 5px outset black;
  border-radius: 10px;
}

.inputContainer {
  height: 150px;
  width: 574px;
  margin: 25px;
  font-size: 32px;
  flex-direction: column;
  background-color: black;
  border-radius: 10px;
  border: 2px solid slategray;
}

.inputContainer > div {
  color: white;
}

.buttonContainer {
  height: 600px;
  width: 600px;
  flex-wrap: wrap;
  margin-left: 20px;
}

.topFuncContainer {
  height: 125px;
  width:  600px;
}

.numContainer {
  height: 475px;
  width: 450px;
}

.rightOperatorContainer {
  height: 475px;
  width: 150px;
}

button {
  width: 100px;
  height: 100px;
  border-radius: 25px;
  border: 3px outset black;
  font-size: 32px;
  text-align: center;
  border-style: outset;
}

.backspace {
  width: 200px;
}

button:hover {
  background-color: orange;
  border: inset black;
}